* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
    background-image: url("../Images/BackGround.jpg");
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Header page content **/
.logo {
    color: #0000ff;
    font-family: 'Montez', cursive;
    font-size: 35px;
    margin: 0px;
}

.logo-subheading{
    font-family: 'Ubuntu Mono';
    margin: 0px;
}

 /* Defining button styles and position */ 
.header-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.header-button {
    margin: 10px 10px 0px 0px;
    width: 90px;
    padding: 10px;
    font-size: 100%;
    cursor: pointer;
    background: #0000ff;
    color: #fff;
    height: 40px;
    border-radius: 5%;
    border: none;
}


.post-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20%;
}

.post-button { 
   background: #DAB641;
   width: 100px;
   height: 40px;
   margin: 10px;
   font-size: 100%;
   font-weight: 600;
   border-radius: 5%;
   border: none;
} 



/** popup  window **/
.modal {
    background :#fff;
    border-radius: 1rem;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate (-50%, -50%);
}
.modal-content {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    padding: 30px;
    height: 25rem;
    flex-direction: column;
    align-items: stretch;
}

.flex-container {
    display: flex;
    align-items: center;
}

.modal-heading {
    margin: 0px;
    width: 95%;
}

.modal-form {
    display: flex;
    flex-direction: column; 
}

label {
    font-size: 20px;
}

input{
    height: 30px;
}

.modal-btn {
    background-color: #06ad2a;
    border: none;
    margin-top: 20px;
    height: 30px;
    color: #fff;
}



 /** popup welcome window **/
 .signup-message {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 0px;
 }

 .signup-link a{
    color: #007185;
 }



 /** pen you post css **/
#newPostModal {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.new-post-modal-content {
    background: #fff;
    width: 80%;
    height: 90%;
    transform: translate (-50%, -50%);
    padding: 30px;
    position: absolute;
    top: 8%;
}

.new-post-modal-btn {
    width: 10%;
    position: fixed;
    bottom: 20px;
    left: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}