* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ffeedd;
}

 /** front page content **/
 .logo {
    color: #0000ff;
    font-family: 'Montez', cursive;
    font-size: 35px;
    margin: 0px;
}

.logo-subheading{
    font-family: 'Ubuntu Mono';
    margin: 0px;
}

 /* Define button styles and position */ 
.header-btn{
    position: absolute;
    top: 0;
    right: 0;
}


.header-button {
    margin: 10px 10px 0px 0px;
    width: 90px;
    padding: 10px;
    font-size: 100%;
    cursor: pointer;
    background: #0000ff;
    color: #fff;
    height: 40px;
    border-radius: 5%;
    border: none;
}


/** post cards display **/
.card {
    transition: 0.3s;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    /* margin-bottom: 20px; */
    margin-bottom: 20px;
}

.container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.container div span {
    cursor: pointer;
}

.post {
    width: calc(50% - 10px); /* Two posts in a row with a 20px gap */
    box-sizing: border-box;
}