* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
  }

 /** front page content **/
 .logo {
    color: #0000ff;
    font-family: 'Montez', cursive;
    font-size: 35px;
    margin: 0px;
}

.logo-subheading{
    font-family: 'Ubuntu Mono';
    margin: 0px;
}

 /* Define button styles and position */ 
.header-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.header-button {
    margin: 10px 10px 0px 0px;
    width: 90px;
    padding: 10px;
    font-size: 100%;
    cursor: pointer;
    background: #0000ff;
    color: #fff;
    height: 40px;
    border-radius: 5%;
    border: none;
}